// _layout.scss

.site {
	@extend .container;
}
.site-header, .content-area {
	@extend .row;
}

#primary {
  @extend .col-md-9;
}
#secondary {
  @extend .col-md-3;
}

/**
 * Sticky footer from getbootstrap.com
 */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#colophon {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

// end sticky bottom

